* {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
}
body {
    background: linear-gradient(lightblue, blue, lightblue,blue, skyblue, blue, lightblue);
}
p {
    font-size: 3rem;
}